pin {
    // ion-icon {
    //     font-size: 2.2em;
    // }
    .scroll-content{
        overflow-y: scroll !important;
    }
    .content-center {
        justify-content: center;
    }
    .circle {
        border-radius: 50% !important;
        width: 55px;
        padding: 30px;
    }
}