page-initial {
    .grid-vertical {
        height: 80%;
        justify-content: center;
    }
    .justify-center {
        justify-content: center;
    }
    .fontP {
        font-size: 22px;
        color: #488aff;
    }
    .scroll-content{
        overflow: hidden;
    }
}