page-initial {
    .grid-vertical {
        height: 100%;
        justify-content: center;
    }
    .justify-center {
        justify-content: center;
    }
    .fontP {
        font-size: 22px;
        color: #488aff;
    }
    .scroll-content{
        overflow: hidden;
    }
    .line-buttom{
        border-top-width: 1.9px;
        border-top-style: dashed;
        border-top-color: darkgray;
    }
}